body{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'VT323', Courier, monospace;
}

.playGameContainer{
    display: block;
}

.optionsContainer{
    display: none;
}

.resoultsContainer{
    display: none;
}

.titleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titlePage{
    margin-bottom: 2px;
}

.playGameContainer{
    display: flex;
    flex-direction: column;
}

.optionsContainer{
    flex-direction: column;
    align-items: center;
}

.optionsCards{
    display: flex;
    height: 188px;
}

.cards {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 100px;
}

button {
    padding: 15px 5px 15px 5px;
    text-align: center;
    margin: 10px;
    font-size: 14px;
    border: 0;
    box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff36 ;
    cursor: pointer;
}
button:active {
    transform: translateY(5px);
    box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black,inset 0px 5px #00000038;
}

p{
    text-align: center;
}